<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ColuntInFile" value="60000000" />
      <add key="FilenameTemplate" value="DataFile"/>
      <add key="Threads" value="10"/>
      <add key="Min_Odd" value="0"/>
      <add key="Min_Even" value="0"/>
    </appSettings>
</configuration>